.git
.gitignore

.env
.env.*
!.env.example

node_modules
vendor

bootstrap/cache/*.php
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*

public/build
public/hot
public/storage

database/*.sqlite
npm-debug.log
vite.log
